# Verification
检查员通常通过检查一些证据，在未确认内容中获得一定程度的确定性。这张纸条证实了我的怀疑

## 核心FE
- Inspector: 确认内容为真的人
- Unconfirmed_content: 待确认的命题，如 "confirm the absence of something"
- Medium: 验证内容所在的文本/作品，如 "Chapter four confirms..."


## 外围FE
- Purpose: 目的
- Manner: 方式
- Means: 手段
- Instrument: 工具
- Degree: 程度
- Time: 时间
- Place: 地点

## 主题外功能FE
- Condition: 条件
- Communicative_force: 权威性，如 "officially", "formally"
- Explanation: 原因
- Descriptor: 验证事件的特征描述

## FE关系
-

## 框架关系
Inherits from(Scrutiny); 
Uses(Correctness)

## 词元
[confirm.v, verify.v, certify.v, substantiate.v, identify.v, make sure.v, confirmation.n, verification.n, verifiable.a, unconfirmed.a, unidentified.a]
